.cartContainer {
   display: flex;
   justify-content: center;
   width: 100%;
}

h1 {
   margin: 20px;
}

.cartItems {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.cartItem {
   display: flex;
   background-color: rgba(0, 0, 0, 0.6);
   width: 90%;
   justify-content: space-between;
   min-width: 400px;
   max-width: 780px;
   margin: 5px;
   padding: 10px;
   gap: 20px;
   align-items: center;
   border: 2px solid #E85D1F;
   border-radius: 10px;
}

.cartItem img {
   max-width: 100px;
   min-width: 100px;
   max-height: 100px;
}

.itemInfo {
   text-align: start;
   flex-grow: 1;
}

.itemTotal {
   font-weight: bolder;
   font-size: 1.1rem;
}

.quantityControls {
   display: flex;
   font-weight: bolder;
   gap: 5px;
   align-items: center;
   transition: 0.2s ease;
}

.cartItem button:hover {
   filter: brightness(200%);
}

.cartItem button {
   font-size: 1.1rem;
   border: 1px solid #E85D1F;
   padding: 3px 8px 3px 8px;
   border-radius: 10px;
}

.itemTotal {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.cartSummary {
   display: flex;
   flex-direction: column;
   background-color: rgba(0, 0, 0, 0.6);
   justify-content: space-between;
   max-height: 400px;
   min-height: 400px;
   margin: 5px;
   padding: 20px;
   gap: 20px;
   align-items: center;
   border: 2px solid #E85D1F;
   border-radius: 10px;
}

.cartSummary button {
   border: 2px solid lightblue;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cartSummary button:hover {
   transform: translateY(-8px);
}

.summaryButtons {
   display: flex;
   gap: 10px;
}

@media (max-width: 1200px) {
   .cartContainer {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
   }
}
